/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-brand: #fad198;
    --vp-c-brand-light: #ffe2ba;
    --vp-c-brand-lighter: #ffe2ba;
    --vp-c-brand-lightest: #ffe2ba;
    --vp-c-brand-dark: #ffe2ba;
    --vp-c-brand-darker: #ffe2ba;
    --vp-c-brand-dimm: rgba(162, 100, 255, 0.08);
    --vp-local-search-highlight-bg: rgba(228, 185, 128, 0.6);

    --vp-custom-block-danger-border: #fb9393;
    --vp-custom-block-danger-text: #fb9393;
    --vp-custom-block-danger-bg: #fb939314;

    --vp-custom-block-warning-border: #fad198;
    --vp-custom-block-warning-text: #fad198;
    --vp-custom-block-warning-bg: #fad19814;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #fad198 30%, #ffbb5d);

    --vp-home-hero-image-background-image: linear-gradient(-45deg, #e2b66a46 50%, #ffe3ab45 50%);
    --vp-home-hero-image-filter: blur(100px) opacity(20%);
}

.VPHero .VPImage {
    filter: hue-rotate(135deg);
} 

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
}
